<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(202, 243, 243);">
    <h1 style="color: blueviolet;"><strong>Super 11 league “Team Banao…. Game Jeetao” is back with an exciting new season</strong></h1>
    <h2 style="color: rgb(226, 139, 32); size: 50px;">As IPL has become bigger from 8 teams to 10 teams…from 6 weeks to 9 weeks….we have also made our Super 11 League furthermore exciting and involving…and of course bigger prizes to win. 
    </h2>
    <p><h3>OUR SIX TEAMS ARE:</h3>
        <table border="2px " style="color: black;" >
            
            <thead style="background-color: rgb(245, 179, 156); text-align: center; color: rgb(6, 6, 7);">
                
                <td>TEAM NAME</td>
                <td>CAPTAIN</td>
                <td>PROJECT</td>
                
            </thead>
            <tbody style="background-color: rgb(237, 247, 195);">
                <tr>
                    <td><strong>11 Dabang</strong></td>
                    <td>Aditya Kadam </td>
                    <td>Products & Platform</td>

                </tr>
    
                <tr>
                    <td><strong>830711</strong></td>
                    <td>Ameya Birje</td>
                    <td>CFG - IT</td>
                </tr>

                <tr>
                    <td><strong>Fantastic Eleven</strong> </td>
                    <td>Sandesh Rawle</td>
                    <td>CFG - BPS</td>
                </tr>

                <tr>
                    <td><strong>Jabaaz 11</strong> </td>
                    <td>Akshay Patil</td>
                    <td>Corporate Functions</td>
                </tr>

                <tr>
                    <td><strong>Unstoppable Star Achievers (USA)</strong></td>
                    <td>Syed Pasha</td>
                    <td>Nielsen</td>
                </tr>

                <tr>
                    <td><strong>Hyderabad Rangers</strong></td>
                    <td>D Madhukar</td>
                    <td>D Madhukar</td>
                </tr>
            </tbody>
        </table>

    
    </p>

    <p><strong><i><h2>Here are the rules for playing the Super 11 league:</h2></i></strong></p>
        <p><h4>1. Each team chooses 22 players across all 10 IPL teams.</h4>
        <h4>2. You can change your team players every Friday by 5 pm for upcoming matches - Following Saturday to Friday. If no change is made, the existing players will continue.</h4>
        <h4>3. Each Team should have minimum of 2 wicket keepers</h4>
        </p>
    <p>Point break up is as follows:</p>
    <table border="2px" style="text-align: center;">
        <thead2>
            <td style="background-color: rgb(143, 255, 255);">Batting Rules</td>
            <td style="background-color: rgb(158, 243, 255);">Points</td>
            <td style="background-color: rgb(194, 144, 233);">Bowling Rules</td>
            <td style="background-color: rgb(203, 144, 233);">Points</td>
            
        </thead2>
        <tbody style="background-color: rgb(219, 224, 224);">
        <tr>
            <td>RUN</td>
            <td>1</td>
            <td>WICKET</td>
            <td>25</td>
            
        </tr>
        <tr>
            <td>FOUR</td>
            <td>1</td>
            <td>RUNNOT/STUMPING(FIELDER)</td>
            <td>15</td>
        </tr>
        <tr>
            <td>SIX</td>
            <td>2</td>
            <td> 3 WICKET(Bonus)*</td>
            <td>8</td>
        </tr>
        <tr>
            <td>HALF CENTURY</td>
            <td>8</td>
            <td>5 WICKET(Bonus)*</td>
            <td>16</td>
        </tr>
        <tr>
            <td>CENTURY </td>
            <td>16</td>
        </tr>
        <tr>
            <td>DUCK</td>
            <td>-2</td>
        </tr>
        </tbody>
       


    </table>
    <p style="text-align: center;">
    <button type="button" class="btn btn-primary btn-lg" style="background-color: rgb(4, 216, 216);"><a href="/">Home_page</a></button>
    </p>
</body>
</html>